/*Navbar y Header*/


/*     .navbar {
        @include flex(row, space-between, center, 0);
        min-height: 5vh;
        padding: 0 2rem;

    } */
    .navbar {
        background: $mainWhite;
        position: sticky;
        top: 0;
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        background: $mainWhite;
        z-index: 1;
        &-center {
            width: 100%;
            max-width: 1170px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1.5rem;
        }
    }

    .nav-icon {
        font-size: 1.5rem;
    }

    .cart-btn {
        position: relative;
        cursor: pointer;
    }
    
    .cart-items {
        position: absolute;
        top: -8px;
        right: -8px;
        background: $primaryColor;
        padding: 0 5px;
        border-radius: 30%;
        color: $mainWhite;
    }

    Header {
        background-color: $mainWhite;
    }
    /* 
    .logo {
        flex-basis: 7%;
    }

    .section {
        @include flex(row, space-between, center, 0);
        flex-basis: 30%;
        
        &Item {
            font-size: 2em;
            font-weight: bold;

            .subMenu {
                display: none;
                position: absolute;

                &Link {

                    padding: 1rem;
                    color: $principal;
                    transition: all .4s ease-in-out;

                    &:hover {
                        background-color: $principal;
                        box-shadow: 0 0 10px $principal;
                        color: $secondary;
                    }
                }
            }



            &:hover {
                .subMenu {
                    display: block;
                    z-index: 1;
                }
            }



        }

        &Link {
            padding: 1rem;
            font-size: 1em;
            transition: all .4s ease-in-out;

            &:hover {
                background-color: $principal;
                box-shadow: 0 0 10px $principal;
                color: $secondary;
            }
        }
    }
 */