/*Variables*/

$primaryColor: #d6a26d;
$mainWhite: #252427;
$mainBlack: #d6a26d;
$mainGrey: #ececec;
$mainSpacing: 0.1rem;
$mainTransition: all 0.3s linear;
$second: #252427;
$third: #222;
$fourth: #f09d51;
$fifth:rgb(231, 226, 221);
$backcart: rgba(240, 158, 81, 0.5);



